.c-sidebar {
  display: none;
}

/* 512px */
@media screen and (width >= 32rem) {
  .c-main__cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* 640px */
@media screen and (width >= 40rem) {
  .c-main__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* 768px */
@media screen and (width >= 48rem) {

}

/* 832px */
@media screen and (width >= 52rem){
  .c-main__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* 960px */
@media screen and (width >= 60rem){

}

/* 1024px */
@media screen and (width >= 64rem) {
  .c-sidebar {
    display: flex;
    flex-basis: 17.5rem;
  }
}

/* 1280px */
@media screen and (width >= 80rem) {
  .c-main__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (height < 40rem) {
  .c-sidebar__library {
    position: relative;
  }

  .c-library__content{
    flex: 1;
    position: absolute;
    top: 3rem;
    left: .5rem;
    height: calc(100% - 6rem);
  }

  .c-library__legal {
    display: none;
  }
}